h1{
    color: chocolate;
    background-color: antiquewhite;
    padding: 30px;
    margin-left: 375px;
    margin-right: 375px;
    margin-top: 50px;
    margin-bottom: 10px;
}

img{
    margin-left: 325px;
    margin-bottom: 10px;
}

p{
    margin-left: 110px;
}

h3{
    margin-left: 110px;
}

li{
    margin-left: 110px;
    margin-right: 750px;
}

a{
    margin-left: 110px;
    margin-right: 750px;
}
